﻿.loadingPanel
{
    position: fixed;
    border: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: transparent;    
    filter: alpha(opacity=50); /* for IE */
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorstr=#55ffffff, endColorstr=#55ffffff)";
    background-color: rgba(255,255,255,0.5);
    z-index: 9999;
}
.loading
{
    z-index: 9999; /* margin-left: auto; margin-right: auto; vertical-align: middle; */
    text-align: center;
}
.parentState
{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
}
