﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="vLaporanMonitoring.aspx.cs" Inherits="MPMFInternalR2.Web.ReportPages.Monitoring.vLaporanMonitoring" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <asp:ScriptManager ID="ScriptManager1" runat="server" EnablePartialRendering="False"></asp:ScriptManager>
    <form id="form1" runat="server">
        <div>
            <asp:Label ID="lbltglfrom" runat="server" Visible="false" />
            <asp:Label ID="lbltglto" runat="server" Visible="false" />
            <asp:Label ID="lblpilihan" runat="server" Visible="false" />
            <asp:Label ID="lblpilihn" runat="server" Visible="false" />
            <asp:Label ID="lblreport" runat="server" Visible="false" />
            <asp:Label ID="txtreport" runat="server" Visible="false" />
            <asp:Label ID="lblstatusid" runat="server" Visible="false" />
            <asp:Label ID="lblstatusname" runat="server" Visible="false" />
            <asp:Label ID="lblchoose" runat="server" Visible="false" />
        </div>
    </form>
</body>
</html>
